{% extends './layouts/nav.html' %} {% block content %}

<h1>Djando CRUD Home</h1>

<div class="lorem">
  <h2>Developed by Robert Steven Delgado Peralta</h2>
  <h3>Parquesoft Ti - Software Development</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
    perspiciatis consequatur nulla minima eligendi, voluptatem excepturi
    quaerat, eaque esse aliquid optio ratione ex ducimus, quis quae ab ipsa?
    Repudiandae fuga, saepe quis illo at ex animi ipsa exercitationem enim optio
    ut debitis obcaecati quibusdam, recusandae reprehenderit sunt sapiente
    temporibus vitae quae facere modi deserunt fugit laudantium excepturi! Earum
    nemo consequatur odit, doloremque animi optio eum quibusdam rem vero,
    ducimus esse cumque molestiae. Cum dolores dolorem asperiores aut culpa
    atque eos est mollitia optio ducimus. Magnam quos inventore expedita illum
    dolorem veniam pariatur rerum animi, autem est similique quibusdam. Quam,
    iure vel quibusdam impedit aut nihil nulla porro delectus voluptas
    repellendus dignissimos quaerat necessitatibus tempore ducimus incidunt, ex
    aliquid expedita praesentium, dolor magnam molestiae accusamus unde culpa?
    Adipisci esse velit quidem nihil provident expedita, et laborum, nam
    repellat cum vitae beatae, quibusdam accusantium aspernatur. Numquam nemo
    quis nulla voluptatem vel quos, temporibus sed dolore. Quidem molestiae
    officiis commodi esse vel cupiditate! Quod iure minima id consequuntur quia
    aliquam vero atque! Unde commodi doloribus perspiciatis corporis eos
    voluptatem incidunt molestias earum natus? Modi, animi quod. Vel, labore
    mollitia beatae doloribus velit ut quas repudiandae deleniti repellendus in
    facilis libero minus, accusantium autem!
  </p>
</div>

{% endblock %}
