{% extends './layouts/nav.html' %} {% block content %}

<h1>{{ titleDescription }} Tasks</h1>

<div class="tasksList">
  {% for task in tasks %}

  <div class="taskCard">
    {% if task.important == True %}
    <h2>{{ task.title }} 🔴</h2>
    {% elif task.important == False %}
    <h2>{{ task.title }} 🟡</h2>
    {% else %}
    <h2>{{ task.title }} - Undefined Importance</h2>
    {% endif %}
    <p><strong>Description:</strong> {{ task.description }}</p>
    {% if task.completed == True %}
    <p><strong>State:</strong> Task Completed</p>
    {% else %}
    <p><strong>State:</strong> Pending Task</p>
    {% endif %}
    <strong><p>Created by {{ task.user.username }}</p></strong>
    <a href="{% url 'tasksTaskDetails' task.id %}">See Details</a>
    <a href="{% url 'tasksUpdateTask' task.id %}">Update</a>
  </div>

  {% endfor %}
</div>

{% endblock %}
